
.btn:not(.btn-danger), button.nav-link:not(.active){
	background-color: #343a40;
	color: white;
}

.tab-pane {
	margin-top: 10px;
}

form{
	margin-bottom: 30px;
}

.navbar-nav .nav-item{
	margin: 0 10px 0 10px;
}